@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Alert System</h2>
</div>

<div class="conatainer-fluid">
    <div class="row">
        <p>Alert's are created by GTAS users. And then once its created, passenger OICs assing them to the active staff on duty at Passenger Clearance. 
            And then after its assigned, the staff carries out the checks and then reports it back to the system.
        </p>
    </div>
    


</div>

